wavetable/libraries/wavefiles/*
build/
local/
LOCAL/
tmp/

# Build artifacts
*.o
*.d
*.elf
*.bin
*.hex
*.map
*.dmp

# OS files
.DS_Store

# Editor/IDE files
*.swp
*.swo
*~
tags
TAGS
.idea/
.vscode/settings.json

# Tool outputs
calc_lfoinc_table/calc-increments
wavetable/formant_library_calc/make-waveform-library
